<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

</head>

<body>

<input id="name"/>
<button onclick="login()" > Login In  </button>






</body>


<script>
    const ipc = require('electron').ipcRenderer;

    function login() {
        ipc.send('login', $('#name').val());
    }



    ipc.on('verified', (event,message) => {
        localStorage.setItem("name", message.name);
        window.location.href = "index.html";
    });





</script>


</html>
